<h1>Editing Listing</h1>

<%# Set local variables as instance variables to render in form  %>
<%= render 'form', listing: @listing, categories: @categories %>

<%= link_to 'Show', @listing %> |
<%= link_to 'Back', listings_path %>
