<h1>New Listing</h1>

<%# Set local variables as instance variables to render in form  %>
<%= render 'form', listing: @listing, categories: @categories, conditions: @conditions, features: @features%>

<%= link_to 'Back', listings_path %>