<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <%= link_to 'SynthGain', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%# Use devise to check if user is signed in%>
    <% if user_signed_in? %>
        <%# if signed in, add a link to sign out %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm" %>

    <% else %>
        <%# if user not signed in, add a link to sign in and sign up %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>

    <% end %>

</nav>