<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
        <h1 class="display-4">SynthGain</h1>
        <p class="lead">A place for lovers of vintage synths</p>
        <hr class="my-4">
        <%= image_tag "testsythn1", class: "home-image" %> 
        <p class="lead">
          <%= link_to "Add Listing", new_listing_path, class: "btn btn-primary btn-lg" %>
        </p>
    </div>
  </div>
</div>


