<div class="d-flex justify-content-center">
  <div class="card mb-3" style="width: 40rem;">
    <%= image_tag "testsythn1", class: "card-img-top" %>
    <br>
    <p>SynthGain is a place for lovers of vintage synthesizers to buy and sell these beautiful instruments.<p>
    <div class="card-body">
          <%= link_to "Add Listing", new_listing_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>