

<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h5>Welcome to SynthGain</h5>
        <p>This is a place to say something important</p>
        <p><%= link_to "About SynthGain", pages_about_path, class: "btn btn-primary btn-large" %></p>
      </div>
    </div>
  </div>
</section>