<h1> Success </h1>

<p> Thanks for purchasing the <%= @listing.title %> </p>

<%= link_to 'See your receipt', @purchase.receipt_url, class: "btn btn-outline-secondary m-1" %> 

<%= link_to 'See your orders', payments_orders_path, class: "btn btn-outline-secondary m-1" %> 

<%= link_to 'Back to Listings', listings_path, class: "btn btn-outline-secondary m-1" %> 

