<h1> Success </h1>

<p> Thanks for purchasing the <%= @listing.title %> </p>

<p>Here is your receipt:</p>
<%# <%=  @purchase.receipt_url %> 
<%= link_to 'Back to Listings', listings_path, class: "btn btn-outline-secondary m-1" %> 

<%= link_to 'See your orders', payments_order_path, class: "btn btn-outline-secondary m-1" %> 